/* Box Model Hack */
* {
     box-sizing: border-box; 
     padding: 0;
     margin: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
background: url(../dm-image1.jpg) no-repeat center center/ cover;


}

.container .header{
     font-size: 1.5rem;
     letter-spacing: 1.3;
     background: hsla(90deg 40% 50% / .5);
     border: 3px solid white;
     color: #fff;
     border-radius: 5px;
     padding: 5px;
     margin: 20px auto;
}

.main-content{
     height: 350px;
     width: 500px;
     background-color: #fff;

}

.main-content .text-area{
     padding: 50px 20px;
     font-size: 1.5rem;
     margin: 20px auto;

}

.person{
     font-size: 1.7rem;
     text-transform: uppercase;
     color: red;
     padding: 10px 50px;
}

.button-area button{
     background-color: black;
     color: white;
     width: 25%;
     margin-top: 20px;
     height: 35px;
}


.button-area button:active{
     background-color: lightblue;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
